body{
    background-image: url(bg-image\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0vmax;
    background-attachment: fixed;
    background-position:center ;
    margin: 0%;
}

#clock-cointainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;

    
    
}

#clock{
       font-family: monospace;
       font-size: 6.5rem;
       text-align: center;
       color: black;
       align-items: center;
       font-weight: bold;
       background-color: rgba(165, 156, 156, 0.81);
       width: 100%;
       backdrop-filter: blur(2px);
}